<div class="flex flex-col h-1/2">
    <div class="flex-1 overflow-y-auto bg-gray-100 p-6">
        <div class="flex flex-col mb-4">
            <div class="flex items-center mb-2">
                <img src="https://cdn-icons-png.flaticon.com/512/1946/1946429.png" alt="Avatar"
                    class="w-8 h-8 rounded-full">
                <p class="text-sm ml-2">Usuario 1:</p>
            </div>
            <p class="bg-blue-500 text-white text-sm p-2 rounded-lg">Mensaje de ejemplo</p>
        </div>
        <div class="flex flex-col mb-4">
            <div class="flex items-center justify-end mb-2">
                <p class="text-sm mr-2">Tú:</p>
                <img src="https://cdn-icons-png.flaticon.com/512/1946/1946429.png" alt="Avatar"
                    class="w-8 h-8 rounded-full">
            </div>
            <p class="bg-green-500 text-white text-sm p-2 rounded-lg self-end">Respuesta de ejemplo</p>
        </div>
    </div>
    <form id="formulario" class="bg-white p-4">
        <div class="flex items-center">
            <input type="text" id="message" name="message" placeholder="Escribe un mensaje..."
                class="flex-1 px-4 py-2 rounded-full border border-gray-300 focus:outline-none focus:border-blue-500">
            <button type="submit"
                class="ml-4 bg-blue-500 text-white px-6 py-2 rounded-full hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue">Enviar</button>
        </div>
    </form>
</div>