<div class="max-w-md mx-auto">
    <h1 class="text-3xl font-bold mb-8">Recupera tu contraseña</h1>

    <div class="mb-4">
        <form action="/api/session/recover-psw" method="post">
            <div class="mb-4">
                <label for="email" class="block mb-2">Correo</label>
                <input type="email" name="email" id="email" placeholder="Introduzca su correo electrónico"
                    class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300" />
            </div>

            <div class="mb-4">
                <label for="password" class="block mb-2">Nueva contraseña</label>
                <input type="password" name="new_password" id="new_password" placeholder="Introduzca su contraseña" required
                    class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300" />
            </div>          
            <div class="flex gap-2">
                <button type="submit"
                    class="w-full bg-blue-500 text-sm text-white py-2 px-4 rounded-md hover:bg-blue-600 transition duration-300">Actualizar contraseña</button>           
                </a>
            </div>
        </form>
    </div>
</div>